@import url("https://fonts.googleapis.com/css2?family=Neucha&display=swap");

.title {
  z-index: 1;
  color: #fff;
}

.App {
  background-color: rgb(8, 194, 45);
  font-family: "Neucha", cursive;
}

.input {
  position: relative;
  width: 50%;
  align-items: center;
}

.input__box {
  width: 100%;
  padding: 0.7em 1.5em;
  font-size: 1.2em;
  border-radius: 30px;
  outline: none;
}

.input__box:focus {
  box-shadow: 0 0 10px 1000px rgb(4, 113, 26);
}

.btn {
  position: absolute;
  right: 0;
  background-color: rgb(8, 194, 45);
  color: #fff;
  border-radius: 50%;
  padding: 0.7em;
  margin: 0.5em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.44);
}

.btn:hover {
  background-color: rgb(8, 220, 50);
}

.btn:active {
  transform: scale(0.8);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.44);
}
